<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://i.pinimg.com/originals/9b/20/d6/9b20d6f8b2361ef151b2e2dc4b85076a.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Nutritionist Registration</h2>
            <h3 class="mb-1">Please, fill out this form:</h3>
            <!--<form [formGroup]="createClientForm" (ngSubmit)="proceedAddClient()">-->
            <form>
              <!--First and Second name -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="fname1" id="Fnamelabel" class="form-control"/>
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="fname2" id="Snamelabel" class="form-control" />
                    <label class="form-label" for="form3Example2">Second name</label>
                  </div>
                </div>
              </div>

              <!--Last Name (1) and Last name(2) -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="last_name1" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Last name (1)</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="last_name2" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name (2)</label>
                  </div>
                </div>
              </div>

              <!--ID number and Nutritionist Code -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="id_Nutri" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Identification Number</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" formControlName="NutriCode" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Nutritionist Code</label>
                  </div>
                </div>
              </div>
                

                
             

              <!--Birthdate and BMI -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="birth_Date" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Birthdate</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" formControlName="bmi" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Body Mass Index (BMI)</label>
                  </div>
                </div>
              </div>

              <!-- Weight and Adress -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" formControlName="weight" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Weight (Kg)</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="address" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Address</label>
                  </div>
                </div>
              </div>

              <!-- Card number and Payment Type -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="number" formControlName="CardNumber" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Card number</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="PaymentType" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Payment Type</label>
                  </div>
                </div>
              </div>

              <!-- Photo input -->
              <div class="form-outline mb-4">
                <input type="text" formControlName="photo" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Photo</label>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" formControlName="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="text" formControlName="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              

              
              <!-- Submit button -->
              <div class="d-flex align-items-center justify-content-center pb-4">
                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Sign up</button>
              </div>

              <!-- Back button -->
              <div class="d-flex align-items-center justify-content-center pb-4">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/NutriLogin">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->