<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Plans Management</h1>
  </div>
  <!-- Title -->

<!-- Add Plan-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Add Plan</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddPlan">Enter</button>
</div>

<!-- Edit Plan-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Edit Plan</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditPlan">Enter</button>
  </div>

<!-- Consult Plan-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Consult Plan</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ConsultPlan">Enter</button>
  </div>

<!-- Delete Plan-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Delete Plan</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeletePlan">Enter</button>
  </div>


<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/MealManagementNutriLandPage">Back</button>
  </div>

