<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Plans Management</h1>
  </div>
  <!-- Title -->

<!-- Add Eating Plan-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Add Eating Plan</h4>
  <h6 class ="mb-2">Here you can add an eating plan</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddEatingPlan">Enter</button>
</div>

<!-- Assign Eating Plan To Client-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Assign Eating Plan To Client</h4>
    <h6 class ="mb-2">Here you assign an eating plan to a client</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AssignEatingPlanToClient">Enter</button>
  </div>

<!--Get Eat Plan by Nutritionist-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Get Eat Plan by Nutritionist</h4>
    <h6 class ="mb-2">Here you can get an eat plan by nutritionist</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetEatPlanByNutritionist">Enter</button>
  </div>

<!-- Get eating Plan-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Get Eating Plan</h4>
    <h6 class ="mb-2">Here you can Get an Eating Plan</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetEatingPlan">Enter</button>
  </div>

<!-- Get Nutritionist Plan-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Get Nutritionist Plan</h4>
  <h6 class ="mb-2">Here you can get nutritionist plan</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetNutritionistPlan">Enter</button>
</div>


<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/MealManagementNutriLandPage">Back</button>
  </div>

