<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Patient Management Page</h1>
  </div>
  <!-- Title -->

<!-- Assign Daily Consumption Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Assign Daily Consumption</h4>
  <h6 class ="mb-2">Here you can assign daily consumption</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AssignDailyConsumption">Enter</button>
</div>

<!-- Get Client By Nutri Part-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3"> Get Client By Nutritionist</h4>
    <h6 class ="mb-2">Here you can get client by nutritionist</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetClientByNutri">Enter</button>
  </div>

<!--Get Client Eating Plan Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Get Client Eating Plan</h4>
  <h6 class ="mb-2">Here you can get client eating plan</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetClientEatingPlan">Enter</button>
</div>

<!--Search Client Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Search Client</h4>
  <h6 class ="mb-2">Here you can search client</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/SearchClient">Enter</button>
</div>

<!--Update Client Measures Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Update Client Measures</h4>
  <h6 class ="mb-2">Here you can update client measures</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/UpdateClientMeasures">Enter</button>
</div>

<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/NutriLandPage">Back</button>
  </div>

