<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Meal Management Page</h1>
    <h4 class="mb-3">Select one of the options to manage.</h4>
  </div>
  <!-- Title -->

<!-- Products & Dishes Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Products & Dishes</h4>
  <h6 class ="mb-2">Here you can manage your products and dishes</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ProdDishesLandPage">Enter</button>
</div>

<!-- Recipes Part-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Recipes</h4>
    <h6 class ="mb-2">Here you can manage your recipes</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/RecipesLandPage">Enter</button>
  </div>

<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/ClientLandPage">Back</button>
  </div>

