<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h3 class="mb-3">Hello dear client!</h3>
    <h4 class="mb-3">Select "Register Data" if you want to register measures or your daily consumption.
      If you want to manage your products and dishes or your recipes, select "Meal ManagementS"
    </h4>
  </div>
  <!-- Title -->

<!-- Meal Management Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Meal Management</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/MealManagementLandPage">Enter</button>
</div>

<!-- Register Data Part-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Register Data</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/RegisterLandPage">Enter</button>
  </div>

