<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Products & Dishes Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Products & Dishes-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Products & Dishes</h4>
  <h6 class ="mb-2">Here you can see all the products and dishes approved by your nutritionist</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllProdDish">Enter</button>
</div>

<!-- Add Products & Dishes-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Add Products & Dishes</h4>
  <h6 class ="mb-2">Here you can add your products and dishes</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddProdDish">Enter</button>
</div>

<!-- Edit Products & Dishes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Edit Products & Dishes</h4>
    <h6 class ="mb-2">Here you can edit your products and dishes</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditProdDish">Enter</button>
  </div>



<!-- Consult Products & Dishes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Consult Products & Dishes</h4>
    <h6 class ="mb-2">Here you can consult your products and dishes</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ConsultProdDish">Enter</button>
  </div>







<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/MealManagementLandPage">Back</button>
  </div>

