<app-header-nutritionist></app-header-nutritionist>

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://i.pinimg.com/originals/9b/20/d6/9b20d6f8b2361ef151b2e2dc4b85076a.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Plan Assignment Admin</h2>
            <h3 class="mb-1">Please, fill out this form:</h3>
            
            <form [formGroup]="PlanAssignmentForm" (ngSubmit)="proceedPlanAssignment()">
              <!--Barcode and Client ID-->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="barcode" id="Fnamelabel" class="form-control"/>
                    <label class="form-label" for="form3Example1">Barcode</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="client_id" id="Snamelabel" class="form-control" />
                    <label class="form-label" for="form3Example2">Client ID</label>
                  </div>
                </div>
              </div>

              <!--Eating Time and Datec-->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="eating_time" id="Fnamelabel" class="form-control"/>
                    <label class="form-label" for="form3Example1">Eating Time</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="date" formControlName="datec" id="Snamelabel" class="form-control" />
                    <label class="form-label" for="form3Example2">Date</label>
                  </div>
                </div>
              </div>
              
              <div *ngIf="PlanAssignmentForm.errors?.['unauthenticated']">Barcode or Client ID incorrect!</div>
              <div>
                <h2></h2>
              </div>


              
  

              
              <!-- Submit button -->
              <div class="d-flex align-items-center justify-content-center pb-4">
                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Add</button>
              </div>

              <!-- Back button -->
              <div class="d-flex align-items-center justify-content-center pb-4">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/NutriLandPage">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->