<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Delete Recipe</h1>
    <h4 class="mb-3">Enter the recipe id that you want to delete</h4>
  </div>
  <!-- Title -->
  
  <form [formGroup]="DeleteRecipeNutriForm" (ngSubmit)="proceedDeleteRecipeNutri()">
    <div class="form-outline">
        <input type="text" formControlName="recipe_id" id="form3Example1" class="form-control"/>
        <label class="form-label" for="form3Example1">Recipe ID</label>
    </div>

    <!-- Submit button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Delete</button>
    </div>

     <!-- Back button -->
     <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/RecipeNutriLandPage">Back</button>
    </div>
  </form>