<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Product Approval Home Page</h1>
    <h4 class="mb-3">Please, select an option down below to enter the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Change Dish State Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Change Product or Dish State</h4>
  <h6 class ="mb-2">Here you can change the state of a product or dish</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ChangeDishState">Enter</button>
</div>

<!-- Get All Products State Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Get All Products</h4>
  <h6 class ="mb-2">Here you can see all the products and dishes</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetAllProductsState">Enter</button>
</div>

<!-- Get Approved Products Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Get Approved Products</h4>
  <h6 class ="mb-2">Here you can see all the approved products and dishes</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ProductsApproved">Enter</button>
</div>

<!-- Get Disapproved Products Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Get Disapproved Products</h4>
  <h6 class ="mb-2">Here you can see all the disapproved products and dishes</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ProductsDisapproved">Enter</button>
</div>

<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminLandPage">Back</button>
</div>



