<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h4 class="mb-3">Please, select an option down below or in the header to manage the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Change Dish State Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Change Dish State</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ChangeDishState">Enter</button>
</div>

<!-- Get All Products State Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Get All Products State</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/GetAllProductsState">Enter</button>
</div>

     <!-- Back button -->
     <div class="d-flex align-items-center justify-content-center pb-4">
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminLandPage">Back</button>
  </div>



