<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Register Data Page</h1>
  </div>
  <!-- Title -->

<!--Daily Consumption Register Part-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Daily Consumption Register</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DailyConsumptionRegister">Enter</button>
</div>

<!--Measures Register-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Measures Register</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/MeasuresRegister">Enter</button>
  </div>

<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/ClientLandPage">Back</button>
  </div>

