<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h4 class="mb-3">Please, select an option down below or in the header to manage the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Meal Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Meal Management</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
</div>

<!-- Patient Tracking Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Patient Tracking</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
  </div>

<!-- Plan Assignment Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Plan Assignment</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
  </div>

<!-- Search Asociate Patient Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Search Asociate Patient</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
  </div>

