<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h4 class="mb-3">Please, select an option down below or in the header to manage the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Payment Report Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Payment Report</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
</div>

<!-- Product Approval Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Product Approval</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/">Enter</button>
  </div>

