<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h4 class="mb-3">Please, select an option down below or in the header to manage the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Admin Info Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Admin Info</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminInfo">Enter</button>
</div>

<!-- Add Admin Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Add Admin</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddAdmin">Enter</button>
</div>

<!-- Payment Report Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Payment Report</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/PaymentReport">Enter</button>
</div>

<!-- Product Approval Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Product Approval</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ProductApprovalLandPage">Enter</button>
  </div>

