<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Products & Dishes Management</h1>
  </div>
  <!-- Title -->

<!-- Add Products & Dishes-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Add Products & Dishes</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddPDNutri">Enter</button>
</div>

<!-- Approved Products & Dishes-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Approved Products & Dishes</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllPDNutri">Enter</button>
</div>

<!-- Disapproved Products & Dishes-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Disapproved Products & Dishes</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowDisapprovedProducts">Enter</button>
</div>

<!-- Edit Products & Dishes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Edit Products & Dishes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditPDNutri">Enter</button>
  </div>

<!-- Consult Products & Dishes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Consult Products & Dishes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ConsultPDNutri">Enter</button>
  </div>

<!-- Delete Products & Dishes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Delete Products & Dishes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeletePDNutri">Enter</button>
  </div>



<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/MealManagementNutriLandPage">Back</button>
  </div>

