<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Recipes Management</h1>
  </div>
  <!-- Title -->

<!-- Add Recipes-->
<div class ="p-5 bg-light text center">
  <h4 class="mb-3">Add Recipes</h4>
  <h6 class ="mb-2">CAMBIAR</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddRecipe">Enter</button>
</div>

<!-- Edit Recipes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Edit Recipes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditRecipe">Enter</button>
  </div>

<!-- Consult Recipes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Consult Recipes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ConsultRecipe">Enter</button>
  </div>

<!-- Delete Recipes-->
<div class ="p-5 bg-light text center">
    <h4 class="mb-3">Delete Recipes</h4>
    <h6 class ="mb-2">CAMBIAR</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteRecipe">Enter</button>
  </div>





<!-- Back button -->
<div class="d-flex align-items-center justify-content-center pb-4">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/MealManagementLandPage">Back</button>
  </div>

