<app-header-nutritionist></app-header-nutritionist>

<!-- Title -->
<div class="p-5 text-center">
    <img src="./assets/img/Logo.png"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Consult Recipe from Nutritionist</h1>
    <h4 class="mb-3">Enter the recipe id that you want to show</h4>
  </div>
  <!-- Title -->

  <form [formGroup]="ShowRecipeNutriForm" (ngSubmit)="proceedConsultRecipeNutri()">
    <div class="form-outline">
        <input type="text" formControlName="recipe_id" id="form3Example1" class="form-control"/>
        <label class="form-label" for="form3Example1">Recipe ID</label>
    </div>

    <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Recipe ID</th>
            <th scope="col">Calories</th>
            <th scope="col">Portions</th>
            <th scope="col">Ingredients</th>

          </tr>
        </thead>
        <tbody>
    
          <tr *ngFor="let data of response">
            <th scope="row">{{data.recipe_id}}</th>
            <td>{{data.calories}}</td>
            <td>{{data.portions}}</td>
            <td>{{data.ingredients}}</td>

        </tbody>
      </table>

      <div class="text-center pt-1 mb-5 pb-1">
        <div *ngIf="ShowRecipeNutriForm.errors?.['unauthenticated']">This recipe doesn´t exist.</div>
      </div>

    <!-- Submit button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Show</button>
    </div>

    

     <!-- Back button -->
     <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/RecipeNutriLandPage">Back</button>
    </div>
  </form>